<style>
    * {
        font-family: Cursive;
        color: white;
    }
    html {
        background-image: url(/static/bg3.webp);
        background-size: cover;
    }
    .container {
        margin-right: 15%;
        margin-left: 15%;
    }
    .link {
        display: flex;
        justify-content: space-between;
    }
    h1 {
        text-align: center;
    }
</style>
<div class="container">
    <div class="link">
        <h1><a href="http://127.0.0.1:8000">Home</a></h1>
        <h1><a href="http://127.0.0.1:8000/aboutme">About me</a></h1>
        <h1><a href="http://127.0.0.1:8000/games">Games</a></h1>
        <h1><a href="http://127.0.0.1:8000/wiki">Wiki</a></h1>
        <h1><a href="http://127.0.0.1:8000/background">Background</a></h1>
    </div>
    <hr>
    <h1>Данте</h1>
    <img class="img" src="/static/dante.jpg">
    <h2>Данте - главный герой игр Devil May Cry с 1 по 3, а также одно из главных действующих лиц Devil May Cry 4 и 5. Вергилием провозглашается как младший из двух братьев близнецов, сыновей великого Спарды. Вместе с братом они являются полудемонами.</h2>
    <h2>Всегда любил сражаться, и даже со своим собственным братом он не прочь скрестить клинки. </h2>
    <h2>Как сын демона Данте мог унаследовать его силу, но отказался и сражается за людей.</h2>
    <h2>Орудует этот полудемон-раздолбай в основном двуручными мечами, хоть и держит их одной рукой. Главный меч Данте - Мятежник - является подарком от отца.</h2>
    <h2>"Осторожно, вступая на территорую саундтреков вы рискуете услышать метал!"</h2>
    <h2>Саундтрек Данте из DMC 5 (хронологически последняя часть): <a href="https://www.youtube.com/watch?v=jozqnG_32i0">"Subhuman"</a></h2>
    <h1><a href="http://127.0.0.1:8000/dmc">Return</a></h1>
</div>