<style>
    * {
        font-family: Cursive;
        color: white;
    }
    html {
        background-image: url(/static/bg3.webp);
        background-size: cover;
    }
    .container {
        margin-right: 15%;
        margin-left: 15%;
    }
    .link {
        display: flex;
        justify-content: space-between;
    }
    h1 a {
        color: lightgray;
    }
    .character {
        text-align: center;
    }
</style>
<div class="container">
    <div class="link">
        <h1><a href="http://127.0.0.1:8000">Home</a></h1>
        <h1><a href="http://127.0.0.1:8000/aboutme">About me</a></h1>
        <h1><a href="http://127.0.0.1:8000/games">Games</a></h1>
        <h1><a href="http://127.0.0.1:8000/wiki">Wiki</a></h1>
        <h1><a href="http://127.0.0.1:8000/background">Background</a></h1>
    </div>
    <hr>
    <h2> Devil May Cry - довольно старая серия игр, которой уже вот 20 лет. За эти 20 лет игрокам полюбился образ рыцарей крови - двух братьев, сыновей великого Тёмного Мечника Спарды - Данте и Вергилия. </h2>
    <hr>
    <h2> За все эти годы главным действующим лицом был раздолбай Данте, но Вергилия фанаты тоже не обделили вниманием - его холодная харизма таинственно привлекает к себе всех без разбору.</h2>
    <h2>Далее немного информации о них на отдельных страницах:</h2>
    <div class="character">
        <h1><a href="http://127.0.0.1:8000/dante">Данте</a></h1>
        <h1><a href="http://127.0.0.1:8000/vergil">Вергилий</a></h1>
    </div>
</div>