<style>
    * {
        font-family: Cursive;
        color: white;
    }
    html {
        background-image: url(/static/bg2.jpg);
        background-size: cover;
    }
    .container {
        margin-right: 15%;
        margin-left: 15%;
    }
    .link {
        display: flex;
        justify-content: space-between;
    }
    h1 {
        text-align: center;
    }
</style>
<div class="container">
    <div class="link">
        <h1><a href="http://127.0.0.1:8000">Home</a></h1>
        <h1><a href="http://127.0.0.1:8000/aboutme">About me</a></h1>
        <h1><a href="http://127.0.0.1:8000/games">Games</a></h1>
        <h1><a href="http://127.0.0.1:8000/wiki">Wiki</a></h1>
        <h1><a href="http://127.0.0.1:8000/background">Background</a></h1>
    </div>
    <hr>
    <h1>Сандаунер</h1>
    <img class="img" src="/static/sundowner.jpg">
    <h2>Это единственная личность в игре, которая мне не очень нравится - он тот, кто "просто является злодеем" и даже не несёт какой-либо мысли для героя, кроме как "Дети жестоки, Джек..." (трактуйте как хотите)</h2>
    <h2> Орудует гигантскими мечами-ножницами, которые герой впоследствии сможет использовать. </h2>
    <h2>Саундтрек Сандаунера (вот в этом он не провалился): <a href="https://www.youtube.com/watch?v=jynTNYSKNuk">"Red Sun"</a></h2>
    <h1><a href="http://127.0.0.1:8000/mgr">Return</a></h1>
</div>