<style>
    * {
        font-family: Cursive;
        color: white;
    }
    html {
        background-image: url(/static/bg3.webp);
        background-size: cover;
    }
    .container {
        margin-right: 15%;
        margin-left: 15%;
    }
    .link {
        display: flex;
        justify-content: space-between;
    }
    h1 {
        text-align: center;
    }
</style>
<div class="container">
    <div class="link">
        <h1><a href="http://127.0.0.1:8000">Home</a></h1>
        <h1><a href="http://127.0.0.1:8000/aboutme">About me</a></h1>
        <h1><a href="http://127.0.0.1:8000/games">Games</a></h1>
        <h1><a href="http://127.0.0.1:8000/wiki">Wiki</a></h1>
        <h1><a href="http://127.0.0.1:8000/background">Background</a></h1>
    </div>
    <hr>
    <h1>Вергилий</h1>
    <img class="img" src="/static/vergil.webp">
    <h2>Вергилий - чуть ли не главный злодей нескольких игр серии, старший из братьев-близнецов. </h2>
    <h2>Казалось бы, холодная и сдержанная личность должна терпимо относится к сражениям, но сражаться с братом Вергилию сильно нравится, из-за чего они бессчётное количество раз сходились в бою по разным причинам. </h2>
    <h2>Как сын демона, он хотел заполучить силу отца (и не просто для чего-то: его мораль странна, но не делает его злодеем), но на пути всегда вставал брат.</h2>
    <h2>В сражениях использует Ямато - катану, доставшуюся от отца.</h2>
    <h2>"Осторожно, вступая на территорую саундтреков вы рискуете услышать метал!"</h2>
    <h2>Саундтрек Вергилия из DMC 5 (хронологически последняя часть): <a href="https://www.youtube.com/watch?v=Jrg9KxGNeJY">"Bury the Light"</a></h2>
    <h1><a href="http://127.0.0.1:8000/dmc">Return</a></h1>
</div>