<style>
    * {
        font-family: Cursive;
        color: white;
    }
    html {
        background-image: url(/static/bg.png);
        background-size: cover;
    }
    .container {
        margin-right: 15%;
        margin-left: 15%;
    }
    .link {
        display: flex;
        justify-content: space-between;
    }
    h1 a {
        color: white;
    }
    h1 {
        text-align: center;
    }
    h2 a {
        color: #ff3d4c;
    }
</style>
<div class="container">
    <div class="link">
        <h1><a href="http://127.0.0.1:8000">Home</a></h1>
        <h1><a href="http://127.0.0.1:8000/aboutme">About me</a></h1>
        <h1><a href="http://127.0.0.1:8000/games">Games</a></h1>
        <h1><a href="http://127.0.0.1:8000/wiki">Wiki</a></h1>
        <h1><a href="http://127.0.0.1:8000/background">Background</a></h1>
    </div>
    <hr>
    <h1> Your path is... </h1>
    <div class="link">
        <div class="mgr"><h2><a href="http://127.0.0.1:8000/mgr">Metal Gear Rising</a></h2></div>
        <div class="dmc"><h2><a href="http://127.0.0.1:8000/dmc">Devil May Cry</a></h2></div>
    </div>
</div>